/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: Poppins-Bold;
  src: url(~assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Thin;
  src: url(~assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(~assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(~assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

html,
body {
  font-family: Poppins-Regular;
  color: #0b0b0b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Poppins-Regular;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.text-left {
  text-align: left !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 0px 0;
  background-color: #3b635a;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #222222;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 33px;
  vertical-align: text-top;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation
*/

.navbar {
  padding: 0;
  z-index: 999;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li.contactus-link {
  margin-left: 100px;
}

.navbar li.contactus-link a {
  background-color: #ffffff;
  color: #5a5a5a;
  padding: 10px 32px;
  border-radius: 10px;
  font-weight: 600;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  font-family: "Rubik", sans-serif;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #eb8da5;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.mobile-header {
  display: none;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/

.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #15205f;
}

.bi-x::before {
  font-weight: bold !important;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 20px;
  right: 27%;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px 0;
  border-radius: 0px;
  background-color: #3B635A;
  overflow-y: auto;
  transition: 0.3s;
  width: 300px;
  padding-top: 0px;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3498db;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #0da6ba;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f7f7;
}

.text-black {
  color: #0b0b0b !important;
}

.text-white {
  color: #ffffff !important;
}

.text-lightblack {
  color: #0b0b0b !important;
}

.section-title {
  text-align: center;
  padding-bottom: 5px;
  font-size: 34px;
  font-weight: bold;
}

.section-tagline {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 18px;
}

/* Footer Section */

/* Mobile View */
/****************************** Mobile View ********************************************  */

@media only screen and (max-width: 767px) {
  section {
    padding: 20px 0px;
  }

  br {
    display: none;
  }

  .mobile-header {
    display: block;
    background: white;
    margin-bottom: 20px;
  }

  .fixed-top {
    position: fixed !important;
  }

  #header {
    padding: 0px 0px;
    position: relative;
  }

  .header-tele-link,
  .header-social-links,
  .navbar-mobile ul .concesrio-link span {
    display: none;
  }

  .mobile-header {
    position: absolute;
    top: 14px;
    right: 10px;
    margin-bottom: 0px;
  }

  #main {
    margin-top: 56px;
  }

  .mobile-main-logo {
    display: block;
  }

  .mobile-nav-toggle {
    color: #222222;
  }

  .mobile-nav-toggle.bi-x {
    color: #ffffff;
    right: 30%;
  }

  #header .main-logo {
    width: 90px;
  }

  .consation-btn {
    padding: 6px 17px;
    margin-left: 0;
    font-size: 10px;
    margin-right: 12px;
  }

  .navbar-mobile ul {
    padding-top: 74px;
  }

  .navbar-mobile ul a {
    margin-right: 0px;
    display: block;
  }

  .mobile-logo {
    position: absolute;
    top: 16px;
    left: 7%;
  }

  .mobile-main-logo {
    width: 100px;
  }
}

/* 1024 Screen Media Query Css */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-header {
    display: block;
    background: white;
    margin-bottom: 20px;
  }

  .fixed-top {
    position: fixed !important;
  }

  #header {
    padding: 0px 0px;
    position: relative;
  }

  .header-tele-link,
  .header-social-links,
  .navbar-mobile ul .concesrio-link span {
    display: none;
  }

  .mobile-header {
    position: absolute;
    top: 14px;
    right: 10px;
    margin-bottom: 0px;
  }

  .mobile-main-logo {
    display: block;
  }

  #main {
    margin-top: 56px;
  }

  .mobile-nav-toggle {
    color: #222222;
  }

  .mobile-nav-toggle.bi-x {
    color: #ffffff;
    right: 0%;
    left: 34%;
  }

  #header .main-logo {
    width: 90px;
  }

  .consation-btn {
    padding: 6px 17px;
    margin-left: 0;
    font-size: 10px;
    margin-right: 32px;
  }

  .navbar-mobile ul {
    padding-top: 74px;
  }

  .navbar-mobile ul a {
    margin-right: 0px;
    display: block;
  }

  .mobile-logo {
    position: absolute;
    top: 16px;
    left: 7%;
  }

  .mobile-main-logo {
    width: 100px;
  }
}

/* 1200px */

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar a,
  .navbar a:focus {
    padding: 0px 4px;
    margin-right: 10px;
    font-size: 12px;
  }

  .consation-btn {
    padding: 3px 8px;
    margin-left: 7px;
    font-size: 9px;
  }

  .voice-link {
    padding-left: 2px;
    margin-left: 14px;
  }

  #footer a {
    font-size: 12px;
  }
}

/* 1366 Screen Media Query Css */

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .navbar a,
  .navbar a:focus {
    padding: 0px 6px;
    margin-right: 10px;
    font-size: 16px;
  }

  .consation-btn {
    padding: 3px 10px;
    margin-left: 10px;
    font-size: 14px;
  }

  .voice-link {
    padding-left: 5px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  .navbar a,
  .navbar a:focus {
    padding: 0px 6px;
    margin-right: 10px;
    font-size: 16px;
  }

  .consation-btn {
    padding: 3px 10px;
    margin-left: 10px;
    font-size: 14px;
  }

  .voice-link {
    padding-left: 5px;
    margin-left: 15px;
  }
}

/* Macbook  */
@media only screen and (min-width: 2000px) and (max-width: 2600px) {
}
